.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.people_container {
  border: 1px solid #e9ebee;
  margin: 0 0 13px 13px;
  padding: 0 10px 0 0;
  position: relative;
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 370px;
}

.fancy-scroll-bar {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}

#board {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list-wrapper:first-child {
    margin-left: 8px;
}

.list-wrapper {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list {
  background-color: #dfe1e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-header {
  flex: 0 0 auto;
  padding: 10px 8px 8px;
  position: relative;
  min-height: 20px;
}

.list-header-target {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 8px;
}

.list-header textarea {
    resize: none;
}

textarea.mod-list-name {
    background: transparent;
    border-radius: 3px;
    box-shadow: none;
    font-weight: 700;
    margin: -4px 0;
    height: 20px;
    min-height: 20px;
    padding: 4px 8px;
    resize: none;
    max-height: 256px;
}

textarea {
    resize: vertical;
    width: 100%;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
}

#input {
    overflow: hidden;
    overflow-wrap: break-word;
    height: 28px;
}

