.people_container {
  border: 1px solid #e9ebee;
  margin: 0 0 13px 13px;
  padding: 0 10px 0 0;
  position: relative;
  vertical-align: top;
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 370px;
}
